body{
font-family: "微软雅黑"
	}
	
	
	/*设置边距*/
	.top{
	margin-top: 100px
	}
	
	/*设置居中*/
	.center{ text-align：center;
	}
	
	/*设置框的显示*/
	.styled-select  {
   background-color: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px;
   -webkit-appearance: none; /*for chrome*/
}
	